:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Responsive root font size */
@media (max-width: 479px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  :root {
    font-size: 15px;
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 18px;
  }
}

html {
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden !important;
}

Link a{
  text-decoration: none!important;
  color: inherit;
}